@font-face {
    font-family: 'robotolight';
    src: url('../assets/fonts/roboto/all/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('../assets/fonts/roboto/all/roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}