.footer-section {
	@extend section;

	height: 40px;
	flex-direction: row;
	justify-content: center;
	
	@include phone{
		font-size: 0.7em;
	}

	p {
		color: grey;

	}

	.name {
		text-decoration: none;
		color: white;
	}
}
