.principals-section {
  @extend section;

  background: #e5e5e5;
  color: #444444;

  height: 700px;

  .content {
    justify-content: space-around;

    .header {
      flex: 1;

      h1 {
        font-size: 2.4em;
      }
    }

    .principals {

      flex: 3;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .row {
        display: flex;
        justify-content: space-around;
        align-items: stretch;

        margin: {
          left: 50px;
          right: 50px;
        }

        .principal {
          flex: 1;
          border-width: 1px;

          border-image: linear-gradient(#d200ff, #00c6ff) 0 0 0 1;

          padding: {
            left: 30px;
            right: 30px;
          }
        }
      }
    }
  }

}