.principals-section {
	@extend section;

	background: #e5e5e5;
	color: #444444;


	.content {
		justify-content: space-around;

		.header {
			flex: 1;

			h1 {
				font-size: 2.4em;
				
				@include phone{
					font-size: 1.4em;
				}
			}
		}

		.principals {
			display: flex;
			justify-content: space-around;
			align-items: stretch;
			flex-wrap: wrap;

			@include desktop{
				margin: {
					left: 50px;
					right: 50px;
				}
			}

			.principal {
				
				flex-grow: 1;
				flex-shink: 1;
				border-width: 1px;
				border-image: linear-gradient(#d200ff, #00c6ff) 0 0 0 1;
				padding: 10px 20px;
				box-sizing: border-box;
				margin-bottom: 20px;
				
				h2{
					@include phone{
						padding-bottom: 20px;
						font-weight: 300 !important;
					}
				}
				
				
				@include desktop{
					max-width: 300px;
				}
				
				@include phone{
					padding: 0px;
					margin: 15px;
					border-image: linear-gradient(90deg,#d200ff, #00c6ff) 0 0 1 0;
					&:last-child{
						border: none !important;
					}
					padding-bottom: 20px;
					text-align: center;
				}
			}
		}
	}

}